/*
personal-info.css is used for the PersonalInfo.jsx styles that cannot be added inside a const
*/

.profile-peronal-info-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 12px;
}

.profile-peronal-info-first-column {
  -ms-grid-column: 1;
  grid-column: 1;
  width: 215px;
}

.profile-peronal-info-second-column {
  -ms-grid-column: 2;
  grid-column: 2;
  width: 300px;
}

.profile-peronal-info-third-column {
  -ms-grid-column: 3;
  grid-column: 3;
  width: 300px;
  margin-left: 12px;
}

.valid-field {
  border: 1px solid #00565e;
  border-radius: 4px;
}

.invalid-field {
  border: 3px solid #923534;
}
